<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb14S.dao.MemberDAO">
<!-- Select -->
	
	<!-- 맴버 검색( Member Mid -> memberVo) -->
	<select id="getMemberMidChk" resultType="memberVO">
		select * from member2 where mid=#{mid};
	</select>
	
	<!-- 맴버 검색( Member nickName -> memberVo) -->
	<select id="getMemberNickNameChk" resultType="memberVO">
		select * from member2 where nickName=#{nickName};
	</select>
	
	<!-- 맴버 검색(아이디 찾기) (Member name,identiNum,email -> memberVO) -->
	<select id="getMemberIdSearch" resultType="memberVO">
		select * from member2 where email=#{email} and identiNum=#{identiNum} and name=#{name};
	</select>
	
	<!-- 마이페이지 예약/내가본 영화 리스트 -->
	<select id="getMyReservationList" resultType="myReservationVO">
		select a.*, b.screenOrder,b.playDate, b.playTime, b.endTime, b.movieIdx,
		(select name from theater2 where idx=b.theaterIdx) as theaterName,
		(select name from thema2 where idx=(select themaIdx from theater2 where idx=b.theaterIdx)) as themaName,
		(select title from movie2 where idx=b.movieIdx) as movieName,
		(select main_poster from movie2 where idx=b.movieIdx) as moviePoster
		from reservation2 as a, schedule2 as b where memberMid=#{mid} and b.idx=a.scheduleIdx order by b.playDate desc, b.playTime;
	</select>
	
<!-- Insert -->
	<!-- 회원가입 -->
	<insert id="setMemberInput">
		insert into member2 values(default,#{vo.mid},#{vo.pwd},#{vo.name},#{vo.birthday},#{vo.nickName},#{vo.identiNum},#{vo.gender},#{vo.phone},#{vo.address},#{vo.email},default,default,default,default,default,default,default,default);
	</insert>
<!-- Update -->
	<!-- 로그인 시 마지막 로그인일 수정 -->
	<update id="setMemberLastLogin">
		update member2 set lastLogin=now() where mid=#{mid};
	</update>
	<!-- 패스워드 변경 -->
	<update id="setMemberPwdUpdate">
		update member2 set pwd=#{pwd} where mid=#{mid};
	</update>
	<!-- 프로필 이미지 변경 -->
	<update id="setMemberPhotoUpdate">
		update member2 set photo=#{saveFileName} where mid=#{mid};
	</update>
	<!-- 회원 닉네임 변경 -->
	<update id="setMemberNickNameUpdate">
		update member2 set nickName=#{nickName} where mid=#{mid};
	</update>
	<!-- 회원 이름 변경 -->
	<update id="setMemberNameUpdate">
		update member2 set name=#{name} where mid=#{mid};
	</update>
	<!-- 회원 성별 변경 -->
	<update id="setMemberGenderUpdate">
		update member2 set gender=#{gender} where mid=#{mid};
	</update>
	<!-- 회원 생일 변경 -->
	<update id="setMemberBirthdayUpdate">
		update member2 set birthday=#{birthday} where mid=#{mid};
	</update>
	<!-- 회원 이메일 변경 -->
	<update id="setMemberEmailUpdate">
		update member2 set email=#{email} where mid=#{mid};
	</update>
	<!-- 회원 주소 변경 -->
	<update id="setMemberAddressUpdate">
		update member2 set address=#{address} where mid=#{mid};
	</update>
	
	
<!-- Delete -->


</mapper>