<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaweb14S.dao.MemberDAO">
<!-- Select -->
	
	<!-- 맴버 검색( Member Mid -> memberVo) -->
	<select id="getMemberMidChk" resultType="memberVO">
		select * from member where mid=#{mid};
	</select>
	
	<!-- 맴버 검색( Member nickName -> memberVo) -->
	<select id="getMemberNickNameChk" resultType="memberVO">
		select * from member where nickName=#{nickName};
	</select>
	
	<!-- 맴버 검색(아이디 찾기) (Member name,identiNum,email -> memberVO) -->
	<select id="getMemberIdSearch" resultType="memberVO">
		select * from member where email=#{email} and identiNum=#{identiNum} and name=#{name};
	</select>
	
<!-- Insert -->
	<!-- 회원가입 -->
	<insert id="setMemberInput">
		insert into member values(default,#{vo.mid},#{vo.pwd},#{vo.name},#{vo.birthday},#{vo.nickName},#{vo.identiNum},#{vo.gender},#{vo.phone},#{vo.address},#{vo.email},default,default,default,default,default,default,default,default);
	</insert>
<!-- Update -->
	<!-- 로그인 시 마지막 로그인일 수정 -->
	<update id="setMemberLastLogin">
		update member set lastLogin=now() where mid=#{mid};
	</update>
	<!-- 패스워드 변경 -->
	<update id="setMemberPwdUpdate">
		update member set pwd=#{pwd} where mid=#{mid};
	</update>
	<!-- 프로필 이미지 변경 -->
	<update id="setMemberPhotoUpdate">
		update member set photo=#{saveFileName} where mid=#{mid};
	</update>
	<!-- 회원 닉네임 변경 -->
	<update id="setMemberNickNameUpdate">
		update member set nickName=#{nickName} where mid=#{mid};
	</update>
	<!-- 회원 이름 변경 -->
	<update id="setMemberNameUpdate">
		update member set name=#{name} where mid=#{mid};
	</update>
	<!-- 회원 성별 변경 -->
	<update id="setMemberGenderUpdate">
		update member set gender=#{gender} where mid=#{mid};
	</update>
	<!-- 회원 생일 변경 -->
	<update id="setMemberBirthdayUpdate">
		update member set birthday=#{birthday} where mid=#{mid};
	</update>
	
	
<!-- Delete -->


</mapper>